body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.caixa-grande{
    max-width: 90%!important;
}

#cnpj-input{
    max-width: 80%!important;
    display:inline;
}

.dados{
    border:2px solid #ebe8e8;
    border-left:5px solid #1b809e!important; 
    border-radius: 3px;
    padding:40px;
}